<p id="notice"><%= notice %></p>


 <tr>
        <td>By clicking this button, you agree to provide a good home for the following animal</td>
        <%= image_tag(@pet_selector.pet.image_url) %>
        <%= button_to 'I agree' %>
 </tr>
<%= link_to 'Edit', edit_pet_selector_path(@pet_selector) %> |
<%= link_to 'Back', pet_selectors_path %>
