<p id="notice"><%= notice %></p>

<% if @foster_agreement.pet %>
<p>
  <strong>Name:</strong>
  <%= @foster_agreement.pet.name %>
</p>

<p>

  <strong>Species:</strong>
  <%= @foster_agreement.pet.species %>
</p>

<p>
	
  <%= image_tag(@foster_agreement.pet.image_url) %>

</p>

<p>
  <strong>Age:</strong>
  <%= @foster_agreement.pet.age %>
</p>

<% end %>

<p>By clicking agree you agree to provide a good home for this animal</p>
<p>button_to 'Agree', foster_agreements_path(pet_id: pet) </p>
<%= link_to 'Cancel', shelter_path %>
<%= button_to "Agree", new_foster_parent_path, method: :get %>
