<h1>Hello from Rails!</h1>
<p>
	It is now <%= @time %>
</p>
<p>
	Time to say
	<%= link_to "Goodbye", say_goodbye_path %>!
	addition <%= 1+3 %>  
	concatenation: <%= "cow" + "boy" %>
	Time in one hour: <%= 1.hour.from_now.localtime %>
</p>
<p>
	file names
	<ul>
	<!-- notice the lack of equal sign -->	
	<% for file in @files %>
		<li> <%= file %> </li>
	<% end %>
	</ul>
</p>