<%= form_for(@consideration_item) do |f| %>
  <% if @consideration_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consideration_item.errors.count, "error") %> prohibited this consideration_item from being saved:</h2>

      <ul>
      <% @consideration_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :consideration_list_id %><br>
    <%= f.text_field :consideration_list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
