<% sortBy = request.GET["sort"] %>
<% @books = @books.sort_by { |x| x[:"#{sortBy}"]} %>

<table>
	<tr>
		<td>Rank</td>
		<td>Title</td>
		<td>Author</td>
		<td>Language</td>
		<td>Year</td>
		<td>Copies</td>
	</tr>
<% @books.each do |book| %>
	<tr>
		<td><%= book[:rank] %></td>
		<td><%= book[:title] %></td>
		<td><%= book[:author] %></td>
		<td><%= book[:language] %></td>
		<td><%= book[:year] %></td>
		<td><%= book[:copies] %></td>
	</tr>
<% end %>
</table>