<% sortBy = request.GET["sort"] %>
<% @db = SQLite3::Database.new("books.sqlite3.db")	%>
<% @books = @db.execute( "SELECT * FROM books ORDER BY #{sortBy} ASC") %>

<table>
	<tr>
		<td>Rank</td>
		<td>Title</td>
		<td>Author</td>
		<td>Language</td>
		<td>Year</td>
		<td>Copies</td>
	</tr>
<% @books.each do |book| %>
	<tr>
		<td><%= book[0] %></td>
		<td><%= book[1] %></td>
		<td><%= book[2] %></td>
		<td><%= book[3] %></td>
		<td><%= book[4] %></td>
		<td><%= book[5] %></td>	
	</tr>
<% end %>
</table>